parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#. function array_key_exists expects array, array<string, string>\|false given.#'
